<form method="post" action="{{ path('admin_code_language_delete', {'id': code_language.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce langage informatique ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ code_language.id) }}">
    <button class="fa-btn"><i class="fas fa-trash-alt btn-fa-delete"></i></button>
</form>
