{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle catégorie</h1>

        {{ include('admin/category/_form.html.twig') }}

        <a href="{{ path('admin_index') }}">Retour à l'administration</a>
    </div>
{% endblock %}
