<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer votre projet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="fa-btn"><i class="pink fas fa-trash-alt doc-delete"></i></button>
</form>